.Main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Content {
  text-align: center;

  h1 {
    font-size: 120px;
    font-weight: bold;
    line-height: 1.2;
    color: $color-orange;
    margin: 0;

    @include media('<desktop') {
      font-size: 40px;
      line-height: 1.4;
    }
  }

  h2 {
    font-size: 28px;
    color: $color-grey;
    font-weight: 100;
    margin: 0;

    @include media('<desktop') {
      font-size: 16px;
    }
  }
}

.Social {
  position: absolute;
  bottom: 20px;
  right: 20px;

  a:hover {
    color: $color-orange;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}
