body {
  font-family: $font-body;
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: background-color 0.4s;
  will-change: background-color;
}

svg,
path {
  fill: currentColor;
}
